/* orange : #ff6500;
violet foncé : #8005d1
violet clair background : #ededf7;
bleu foncé : #03d5dd;
turquoise : #00a5ff;

Police :
*/

/*
.contact {
    display: flex;
    justify-content: space-between;
}

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:5px solid #F36027 ;
    background-color: #EDEDF7;
}
legend {
    color: #865ED2;
    font-weight: bold;
}

form {
    width:50%;
    padding:10px;

}
label {
    margin-top:10px;
    display:block;
}


input, textarea, select {
    box-sizing: ;
    border: 0px;
    padding: 10px;
    width: 35%;

}
textarea {
    width: 60%;
}
.button {
    display: flex;
    justify-content : center;
}

button {
    color: white;
    cursor:pointer;
    padding: 10px;
    font-weight: bold;
    background-color: #865ED2
} */